body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#additional_info {
    margin: 1rem;
}

.ajaxLoadingContacts {
    display: none;
    margin: 0 auto;
    text-align: center;
}

#contactsController {
    min-width: 700px;
}

.contact {
    background: #fff;
    border-radius: 2px;
    margin: 1rem;
    border: solid 1px lightgray;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    overflow:auto;
}

.contact:hover {
    transform: scale(1.01,1.01);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 15px rgba(0,0,0,0.23);
}

.contact_description {
}

.contact_description_title {
    font-weight: 800;
}

.contact_description_subtitle {
    font-style: italic;
}

.contact_details {
    display: inline-block;
}

.contact_avatar_img {
    /*background-color: burlywood*/
}

.contact_avatar {
    display:inline-block;
    margin: 3px;
    width: 50px;
    height: 50px;
}

.contact_description {
    display:inline-block;
}


.contact_controlls {
    display: inline-block;
    float:right;
}

#btnControlls {
    background-color: green;
}

.menuButton {
    position: fixed;
    right: 30px;
    bottom:30px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 50%;
}

.menuButton:hover {
    transform: scale(1.01,1.01);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 15px rgba(0,0,0,0.23);
}

#btnControlls {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#editWindow {
    display: none;
}

.btnEdit {

}

.btnDelete {

}
