@{ 
    ViewBag.Title = "Contacts Manager";
}

<div ng-app="contactsApp">
    <div id="contactsController" ng-controller="contactsController">
        <p>Total items: {{contactsODataObject.Count}}</p>
        

        <div class="contact" ng-repeat="contact in contactsODataObject.Items">
            <div class="contact_avatar">
                <img class="contact_avatar_img" ng-src="{{contact.avatar}}" />
            </div>
            <div class="contact_description">
                <div class="contact_description_title">
                    {{contact.first_name}} {{contact.last_name}}
                </div>
                <div class="contact_description_subtitle">
                    {{contact.job_title}} at {{contact.company_name}}
                </div>
            </div>
            <div class="contact_controlls">
                <input type="button" value="Ed"/>
                <input type="button" value="Del" />
            </div>
        </div>

        <p class="ajaxLoadingContacts"> Loading ... </p>
        <input type="button" id="btnLoadMore" ng-click="getObjects()" value="Load More"/>

    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/app/app.js")
    @Scripts.Render("~/Scripts/app/contactsService.js")
    @Scripts.Render("~/Scripts/app/Controllers/contactsController.js")
}